/* 
 找回密码
*/
.retrievebox{
    width: 100%;
    position: relative;
    margin-left:auto;
    margin-right: auto;
}
.headerbox{
    height: 1rem;
    width: 100%;
    position: relative;
    text-align: center;
    line-height: 1rem;
    background: #101b59;
}
.headerbox .goback{
    position: absolute;
    left:.3rem;
    top: .3rem; 
    width: .35rem;
    height: .35rem;
}
.headerbox  .headertitle{
    font-size:.3rem;
    color: #ffffff;
}

.retrieve-new-page{
    padding: .3rem;
}

 .from-group{
    margin-top:.3rem;
    border-bottom: .01rem solid  #e0e0e0;
    padding-bottom: .1rem;
    position: relative;
 }

 .from-group  .from-tit{
     font-size:.3rem;
     color: #ffffff;
 }

 .from-group input{
     padding-left: .1rem;
     color: #ffffff;
     font-size: .3rem;
 }

 .from-group .acquire{
     position: absolute;
     right: .1rem;
     bottom: .1rem;
     border: 0;
     background: #e0e0e0;
     width: 2rem;
     height: .6rem;
     border-radius: .2rem;
     color: #ffffff;
     font-size: .3rem;
 }

 .sms-retrieve-from .btn{
    margin-top:.5rem;
    width: 100%;
    height: .8rem;
    border: 0;
    font-size: .3rem;
    color: #FFFFFF;
    }
    .sms-retrieve-from  .dis{
        background-color: #b0b0b0;
      border-radius: .2rem;
    }
     .mistake{
         color: red;
     }
     .pptt::-webkit-input-placeholder { /* WebKit browsers */
        color:#637fbe
    }
    
    .pptt:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:#637fbe
    }
    
    .pptt::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#637fbe
    }
    
    .pptt:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #637fbe
    }